@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Benzin-Bold";
    font-weight: 400;
    src: url("../public/Benzin-Bold.ttf");
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.font-benzin-bold {
  font-family: "Benzin-Bold", "Helvetica Neue", "Oswald", sans-serif;
  font-weight: bold;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.custom-font {
  font-family: "Benzin-Bold", sans-serif;
  line-height: 90%;
}
.custom-background {
  background-image: url("/Line.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 16rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen {
  .custom-div {
    background-image: url("/Vector1.png");
    /* background-size: contain; */
    /* height: 100%; */
    padding: 3rem 0;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* @media screen and (max-width: 1279px) {
  .custom-div {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .custom-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/Vector1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    z-index: 0;
  }
} */
.common-background {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: 1; */
  background-image: url("/backgroundImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}
