@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Gilroy-Bold";
    font-weight: 400;
    src: url("../public/Gilroy-Bold.ttf");
  }
}
@layer base {
  @font-face {
    font-family: "Gilroy-Bold";
    font-weight: 400;
    src: url("../public/Gilroy-Bold.ttf");
  }
}
@layer base {
  @font-face {
    font-family: "Gilroy-Regular";
    font-weight: 400;
    src: url("../public/Gilroy-Regular.ttf");
  }
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.font-benzin-bold {
  font-family: "Benzin-Bold", "Helvetica Neue", "Oswald", sans-serif;
  font-weight: bold;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.custom-font {
  font-family: "Benzin-Bold", sans-serif;
  line-height: 90%;
}
.custom-background {
  background-image: url("/Line.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 16rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .custom-div {
    background-image: url("/Vector1.png");
    padding: 1rem 0 0 0;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1279px) {
  .custom-div {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .custom-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("/Vector1.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    z-index: 0;
  }
}
@media screen and (max-width: 1279px) {
  .vector-background {
    background-image: url("/VectorRotate.png");
    padding: 1rem 0 0 0;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.common-background {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: 1; */
  background-image: url("/backgroundImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
::-moz-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #13231d;
}
::-moz-scrollbar-track {
  background: #13231d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b8e6e;
  border-radius: 10px;
}
::-moz-scrollbar-thumb {
  background: #6b8e6e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4e664d;
}

::-moz-scrollbar-thumb:hover {
  background: #4e664d;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: end;
}
.cross_other{
  transform: rotate(-45deg);
  position: relative;
  top: -2px;
}
.custom-option:hover {
  background-color: black !important; /* Set the background color of the option on hover */
  cursor: pointer; /* Change the cursor to pointer on hover */
}
select option {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.47);
  background-color: #fff;
  padding: 8px;
}
select option:nth-child(1):hover {
  background-color: black !important;
  color: white !important;
}
select option:nth-child(2):hover {
  background-color: red !important;
  color: green !important;
}
select option:nth-child(3):hover {
  background-color: pink !important;
  color: orange !important;
}
